In [8]:
import pandas as pd


with open('../../../text-mining-workflow/ancillaries/extended-microorganisms-taxonomy/taxa+id_full.txt') as f:
    ncbi = pd.read_csv(f, on_bad_lines='skip', sep='\t')

In [9]:
ncbi.head()

,Bacteria,ncbi:2,Bacteria.1,/ncbi:1/ncbi:131567/ncbi:2,NP,superkingdom,Unnamed: 6,Unnamed: 7
0,bacteria,ncbi:2,Bacteria,/ncbi:1/ncbi:131567/ncbi:2,NNS,superkingdom,NaN,NaN
1,eubacteria,ncbi:2,Bacteria,/ncbi:1/ncbi:131567/ncbi:2,NN,superkingdom,NaN,NaN
2,Monera,ncbi:2,Bacteria,/ncbi:1/ncbi:131567/ncbi:2,NP,superkingdom,NaN,NaN
3,Procaryotae,ncbi:2,Bacteria,/ncbi:1/ncbi:131567/ncbi:2,NP,superkingdom,NaN,NaN
4,Prokaryotae,ncbi:2,Bacteria,/ncbi:1/ncbi:131567/ncbi:2,NP,superkingdom,NaN,NaN